* {
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #2BF5C4;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px;
}

nav a:hover,
.selected {
    background-color: #0EDEAB;
}

img {
    max-height: 300px;
}

p {
    margin: auto;
    max-width: 600px;
}